<div id="<%= dom_id post %>">
  <h1>
    <%= post.title %>
  </h1>

  <% if @post.image.attached? %>
  <%= image_tag @post.image %>
  <% end %>

  <p class= "lead">
    <%= post.description %>
  </p>

</div>
